<% if current_user %>
  <h2><%= current_user.name+"'s " if current_user %>IdeaBox</h2>
  <form action='/' method='post'>
    <input type='text' name='title' /><br />
    <textarea name="description" ></textarea><br />
    <input type='text' name='tags' />
    <input type='submit' value="Save" />
  </form>
<% end %>
<h2>Existing Ideas</h2>
<ul>
  <% ideas.each do |idea| %>
    <li class='idea' id="idea_<%= idea.id %>">
      <h3><%= idea.title %></h3>
      <p><%= idea.description %></p><br />
      <p><%= idea.tags %></p>
      <p>Rank: <%= idea.rank %></p>
      <a href="/<%= idea.id %>">Edit</a>

        <form action="/<%= idea.id %>/like" method='post'>
          <input type='submit' value='+' />
        </form>
        <form action="/<%= idea.id %>" method='post'>
          <input type='hidden' name="_method" value="delete" />
          <input type='submit' value="Delete" />
        </form>
    </li>
  <% end %>
</ul>
